.Footer 
  %ul
    %li
      = link_to "HOME", "#", class: "exsample"
    %li 
      = link_to "LOVE", "#", class: "exsample"
    %li
      = link_to "WILL", "#", class: "exsample"
    %li
      = link_to "TRUST", "#", class: "exsample"
    %li
      = link_to "HOPE", "#", class: "exsample"