.Header
  .Header--right
    = icon("fab fa-twitter", class: "twitter")
    = icon("fab fa-google", class: "google")
  .Header--left
    - if user_signed_in?
      = link_to "マイページ", user_path(current_user), class: "Mypage"
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "Logout"
    - else
      = link_to "新規登録", new_user_registration_path, class: "Registration"
      = link_to "ログイン", new_user_session_path, class: "Login"