.bgimg-switcher#slide
  = render "modules/header"
  
  .Main
    %h1.title HighLight
    %h2 テストテストテストテストテストテストテストテストテストテスト
  
  .Footer 
    %ul
      %li
        = link_to "HOME", "#"
      %li 
        = link_to "LOVE", "#"
      %li
        = link_to "WILL", "#"
      %li
        = link_to "TRUST", "#"
      %li
        = link_to "HOPE", "#"
