.bgimg-switcher#slide
  .Header
    .Header--right
      %p ツイッターのfontawesome
      %p Googleのfontawesome
    .Header--left
      = link_to "新規登録", "#", class: "Registration"
      = link_to "ログイン", "#", class: "Login"
  
  .Main
    %h1.title HighLight
    %h2 テストテストテストテストテストテストテストテストテストテスト
  
  .Footer 
    %ul
      %li
        = link_to "HOME", "#"
      %li 
        = link_to "LOVE", "#"
      %li
        = link_to "WILL", "#"
      %li
        = link_to "TRUST", "#"
      %li
        = link_to "HOPE", "#"
      

  -# %ul
  -#   %li
  -#     %img(src="assets/dream.jpg" alt="テスト")/
  -#   %li
  -#     %img(src="assets/love.jpg" alt="テスト")/
  -#   %li
  -#     %img(src="assets/hobby.jpg" alt="テスト")/
