.bgimg-switcher#slide
  .Header
    .Header--right
      %p ツイッターのfontawesome
      %p Googleのfontawesome
    .Header--left
      - if user_signed_in?
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "Logout"
      - else
        = link_to "新規登録", new_user_registration_path, class: "Registration"
        = link_to "ログイン", new_user_session_path, class: "Login"
  
  .Main
    %h1.title HighLight
    %h2 テストテストテストテストテストテストテストテストテストテスト
  
  .Footer 
    %ul
      %li
        = link_to "HOME", "#"
      %li 
        = link_to "LOVE", "#"
      %li
        = link_to "WILL", "#"
      %li
        = link_to "TRUST", "#"
      %li
        = link_to "HOPE", "#"
